.top-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #a18f70; 
  padding: 5px 40px;
  color: white;
}

.top-header nav {
  flex: 1; 
  display: flex;
  justify-content: center; 
  width: 60%;
}
.logo {
  width: 20%;
}

.contact {
  width: 20%;
  text-align: right;
}

.ImgLogo {
  height: 80px;        
  width: auto;        
  object-fit: contain;
}



nav ul {
  list-style: none;
  display: flex;
  gap: 30px;         
}

nav a {
  color: rgb(231, 231, 231);
  text-decoration: none;
  font-weight: 1000px;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav a:hover {
  color: #bd4c4c;
}

.contact {
  font-weight: bold;
  font-size: 25px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
body {
  background-image: url('c:\Nosotros\imagenes\fotoInicio.jpeg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}
.footer {
  background-color: #6d6d6d; 
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  margin-top: 40px;
}
.h2{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.div{
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}