.top-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #a18f70; 
  padding: 5px 40px;
  color: white;
}
.top-header nav {
  flex: 1; 
  display: flex;
  justify-content: center; 
  width: 60%;
}
.logo {
  width: 20%;
}

.contact {
  width: 20%;
  text-align: right;
}

.ImgLogo {
  height: 80px;        
  width: auto;        
  object-fit: contain;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 30px;         
}

nav a {
  color: rgb(231, 231, 231);
  text-decoration: none;
  font-weight: 1000px;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav a:hover {
  color: #bd4c4c;
}


.contact {
  font-weight: bold;
  font-size: 25px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fondo-autos {
  position: relative;
  background-image: url(../imagenes/fondoNegro.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: auto;     
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
}


.autos-frente {
  position: absolute;
  bottom: 200px;
  left: 50px;   
  width: 70%;
  max-width: 1200px;
  z-index: 3;
}
.buscador-autos {
  position: absolute;
  right: 100px;       
  top: 180px;       
  background-color: rgba(255, 255, 255, 0.9);
  padding: 25px 30px;
  border-radius: 15px;
  width: 400px;
  color: #222;
  z-index: 4;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.buscador-autos h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
  color: #660e37;
}

.buscador-autos form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buscador-autos label {
  font-weight: bold;
  font-size: 14px;
}

.buscador-autos select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.buscador-autos button {
  background-color: #660e37;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.buscador-autos button:hover {
  background-color: #33071c;
}
.footer {
  background-color: #6d6d6d; 
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  margin-top: 40px;
}